*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --container: 112rem;
  --m-auto: 0 auto;
  --white: #fff;
  --black: #333;
  --gray: gray;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

.container {
  max-width: var(--container);
  padding: 4rem 2rem;
  margin: 0 auto;
}
