@mixin p($padding) {
  padding: $padding;
}
@mixin m($margin) {
  margin: $margin;
}
@mixin wh($w, $h) {
  width: $w;
  height: $h;
}
@mixin w($w) {
  width: $w;
}
@mixin br($b) {
  border-radius: $b;
}
@mixin link-active {
  filter: drop-shadow(0px 4.01974px 34.1678px rgba(0, 0, 0, 0.28));
}
@mixin account-bg {
  background: linear-gradient(
    230.04deg,
    #483fbd 2.11%,
    rgba(46, 46, 72, 0) 102.63%
  );
  filter: drop-shadow(0rem 0.4rem 3.3rem rgba(0, 0, 0, 0.25));
}
