$primary: #0F1B4C;
$secondary: #0689FF;
$text-dark: #000339;
$text-dark-50:#3B3C45;
$text-light: #5A6473;
$text-gray: #7D8589;
$text-hero-title:#687690;
$text-gray-light: #A3A6AB;
$white: #ffffff;
$hero-bg: #E6F0FF;
$properties-bg:#F5FAFE;
$btn-bg: #0F1B4C;
$newsletter-bg:#063183;
$container: 122rem;
$nav-height: 7rem;
$transition:all 0.5s ease-in-out;